<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>
  <appSettings>
    <add key="RouteDebugger:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <log4net>
    <root>
      <level value="INFO" xdt:Transform="SetAttributes" />
      <appender-ref xdt:Transform="RemoveAll"/>
      <appender-ref ref="TraceAppender" xdt:Transform="Insert"/>
    </root>
    <logger xdt:Transform="RemoveAll" />
    <logger name="NHibernate" additivity="true" xdt:Transform="Insert">
      <level value="ERROR" />
    </logger>
  </log4net>
</configuration>