<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Source\Quad.Berm.Business\packages.config" />
  <repository path="..\Source\Quad.Berm.Common\packages.config" />
  <repository path="..\Source\Quad.Berm.Data\packages.config" />
  <repository path="..\Source\Quad.Berm.Initialization\packages.config" />
  <repository path="..\Source\Quad.Berm.Migrations\packages.config" />
  <repository path="..\Source\Quad.Berm.Persistence\packages.config" />
  <repository path="..\Source\Quad.Berm.Tests\packages.config" />
  <repository path="..\Source\Quad.Berm.Web\packages.config" />
</repositories>